@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.bg-blue {
  background: #080325;
}

.bg-red {
  background: #D1493D;
}

.bg-dark-purple {
  background: #F7F8FD;
}

.bg-light-purple{
  background: #B8B6F7;
}

.bg-purple {
  background: #4F46E5;
}

.text-black {
  color: #121212
}

.text-grey {
  color: #5B6776;
}

.text-blue {
  color: #344055;
}

.text-light-purple {
  color: #B8B6F7;
}

.text-purple {
  color: #4F46E5;
}

.text-xxs {
  font-size: 10px;
  line-height: 16px;
}

.border-full {
  border-radius: 50%;
}

header a.active {
  background: #191A38;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

header a:hover,
header a:focus {
  background: #191A38;
  border-radius: 6px;
}

button {
  outline: none;
  border: none;
}

.box-shadow-1{
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1);
}

.box-shadow-2{
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06);
}